.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  &__promo {
    background: #fc465b;
    text-align: center;
    padding: 9px 0;
    box-sizing: border-box;
    h6 {
      font-size: 19px;
      line-height: 22px;
      strong {
        font-weight: 700;
      }
      span {
        font-weight: 900;
        color: #ffe400;
      }
      &.mob {
        display: none;
      }
    }
  }
  &__top {
    background: #fafafa;
    border-top: 1px solid #f0eced;
    border-bottom: 1px solid #f0eced;
    box-sizing: border-box;
    padding: 10px 0;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-link {
      font-size: 14px;
      font-family: $calibri;
      font-weight: 300;
      color: #343434;
      display: flex;
      align-items: center;
      margin-right: 14px;
      padding-right: 14px;
      box-sizing: border-box;
      position: relative;
      @include transition;
      &:hover {
        opacity: 0.8;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 20px;
        background: #c5c5c5;
        @include transformY;
      }
      &:first-child {
        margin-right: 20px;
        padding-right: 0;
        &::before {
          display: none;
        }
      }
      &:nth-child(2) {
        svg {
          width: 12px;
          height: 15px;
        }
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
        &::before {
          display: none;
        }
        svg {
          width: 14px;
          height: 14px;
        }
      }
      svg {
        margin-right: 6px;
        color: #343434;
      }
    }
  }
  &__bot {
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
    background: $white;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-cart {
      cursor: pointer;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      svg {
        width: 25px;
        height: 25px;
        color: $black;
      }
      &-number {
        position: absolute;
        top: -6px;
        right: -6px;
        min-width: 16px;
        min-height: 16px;
        background: #ff4748;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        line-height: 16px;
        font-family: $calibri;
        color: $white;
        font-weight: 700;
      }
    }
    &-logo {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 12px;
      box-sizing: border-box;
      img {
        width: 100%;
      }
    }
    &-right {
      display: flex;
      align-items: center;
    }
  }
}
@mixin header-lg-xlg {
  .header {
    &__promo {
      h6 {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &__bot {
      &-logo {
        width: 90px;
      }
      &-cart {
        width: 20px;
        height: 20px;
        svg {
          width: 20px;
          height: 20px;
        }
        &-number {
          font-size: 10px;
          min-width: 13px;
          min-height: 13px;
          line-height: 13px;
        }
      }
    }
  }
}
@mixin header-md-lg {
  .header {
    &__top {
      display: none;
    }
    &__bot {
      position: relative;
      order: 1;
      box-shadow: 0px 6px 7px 0px rgba(104, 0, 12, 0.27);
      &-logo {
        width: 110px;
      }
      &-cart {
        width: 30px;
        height: 30px;
        margin-right: 24px;
        svg {
          width: 30px;
          height: 30px;
        }
        order: 1;
        // display: none;
      }
    }
    &__promo {
      position: relative;
      box-shadow: 0px 9px 6px 0px rgba(32, 25, 24, 0.14);
      background: rgb(253, 70, 91);
      background: linear-gradient(
        130deg,
        rgba(253, 70, 91, 1) 0%,
        rgba(253, 56, 79, 1) 100%
      );
      order: 2;
      h6 {
        &.pc {
          display: none;
        }
        &.mob {
          display: block;
        }
      }
    }
    &__inner {
      display: flex;
      flex-direction: column;
    }
  }
}
@mixin header-xsm-sm {
  .header {
    &__promo {
      padding: 6px 0;
      h6 {
        font-size: 14px;
      }
    }
    &__bot {
      &-logo {
        width: 90px;
      }
      &-cart {
        display: none;
      }
    }
  }
}
@mixin header-xxsm-xsm {
  .header {
    &__bot {
      &-logo {
        width: 80px;
        padding-bottom: 8px;
      }
    }
    &__promo {
      h6 {
        font-size: 12px;
      }
    }
  }
}
